/**
 * Travel Site CSS
**/

/*Default only behavior for body*/
body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/**
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * START Arielle
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

/*Make images extend to edge of screen*/

header {
    display: flex;
    margin: 1rem 0 1rem 0;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

header > h1 {
    font-size: 7vh;
    margin: 2rem;
    color: rgb(77, 77, 77);
}

.cityContainer {
    display: flex;
    justify-content: space-between;
}

.slideShow {
    flex-basis: 50%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.slideShow:hover {
    cursor: grab;
}

.slideDiv {
    display: flex;
    height: 37vh;
    background-position: center;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    align-items: center;
    justify-content: center;
}

.slide {
    display: hidden;
    opacity: 0;
    transition: opacity .7s ease;
}

.cityTitle > h2 {
    text-align: center;
    color: white;
    font-size: 3vh;
    text-shadow: 2px 2px #222222;
}

.visible {
    display: flex;
    opacity: 100;
}

/*Flex CSS for citychosen content*/
.widgets-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

#activitiesSection {
  flex: 1; /*Flex 1/2 of screen*/
}

footer {
    display: flex;
    justify-content: center;
    padding: 1rem;
    height: 100%;
    margin: 0;
    background: #222;
    color: #fff;
}

/**
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * END Arielle
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */


 /**
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * START Abdul
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

 /*Commented out due to compatibility issue (Arielle)

/**weather container */

.weather-widget {
  display: flex;
  flex: 1; /* Flex 1/2 of screen (Arielle)*/
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: sans-serif;
  background: cadetblue;
}

/** weather widget */
.card {
  background: #000000d0;
  color: #fcf9f9;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
}

 /**
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * END Abdul
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

  /**
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * START Constance
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
/* Slideshow container */
.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
  }

  /*Changed to div to avoid conflict*/
  div#eventsTitle {
    background: rgba(255, 0, 0, 0);
    padding: 2px;
    display: flex;
    justify-content: center;
    font-size: 20px;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
  }

  /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Caption text */
    .text {
    color: #fcf9f9;
    font-size: 30px;
    text-shadow: 2px 2px #000000;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  /* Number text (1/4 etc) */
  .numbertext {
    color: #020202;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(235 ,197 ,60);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
   /**
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * END Constance
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

/* On mobile resize at 600px, change to column format (Arielle)*/
 @media only screen and (max-width: 600px) {
    .widgets-main {
        flex-direction: column;
     }
}
