/**
 * Arielle's Edits for Home Page
 * Last Updated Sept 17 2022
**/

/*Make images extend to edge of screen*/
body {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.cityContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
};

.cityBlock {
    flex: 1;
    text-align: center;
    color: white;
}

.cityBlock > div {
    height: 50vh;
    width: 50rem;;
}
